*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #fefefe;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: 20px 20px 10px black;
}