.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-name , .email , .user-message{
  width: 250px;
  margin: 5px;
}

.contact-btn{
  background-color: black;
  color: white;
  border: none;
  width: 50px;
  height: 25px;
  border-radius: 5px;
}